div
{
    background-color: #e4f9f5;
}
body
{
    margin:0px;
}
h1
{
    margin-block-start:0px;     /*is the same as margin-top*/
    margin-block-end:0px;
    margin-inline-start:0px;    /*is the same as margin-left*/
    margin-inline-end:0px;
}

.absIMG
{
    position:absolute;
    right:30px;      /*relative to the right edge of its parent(which is the body here,and not the div because its div is not positioned). It will be 30pixels to the left of the right edge of the div.*/
}
.pro
{
    text-decoration: underline ;
}
.top-container
{
    background-color:#e4f9f5;
    padding: 20px;
}
.red
{
    display:inline-block;   /*inline rakhoge toh width aur height nahi daal paaoge. isliye inline-block*/
    background-color:red ;
    width:200px;
    height:200px;
    position:relative;
    left: 400px;
}
.blue
{
    display:inline-block;
    background-color: blue;
    width:200px;
    height:200px;
    position:relative;
    right:200px;
}
.yellow
{
    display:inline-block;
    background-color: yellow;
    width: 200px;
    height: 200px;
    position:relative;
    right:200px;
}
.absred
{
    display:inline-block;   /*inline rakhoge toh width aur height nahi daal paaoge. isliye inline-block*/
    background-color:red ;
    width:200px;
    height:200px;
    position:absolute;      /*Since this is a div,therefore its parent is the body of the webpage.*/
    top:1145px;     /*this calculation came from the above elements ke heights and widths.*/
    left: 400px;
}
.absblue
{
    display:inline-block;
    background-color: blue;
    width:200px;
    height:200px;
    position:absolute;
    top:945px;
    left:200px;
}
.absyellow
{
    display:inline-block;
    background-color: yellow;
    width: 200px;
    height: 200px;
}
.fixedgreen
{
    height:200px;
    width:200px;
    background-color: green;
    position:fixed;
    top:50px;
}